@font-face {
  font-family: "Sky Text";
  font-display: fallback;
  src: url("//static.skyassets.com/fonts/sky-regular.woff2") format("woff2"),
        url("//static.skyassets.com/fonts/sky-regular.woff") format("woff");
}

@font-face {
  font-family: "Sky Text";
  font-weight: bold;
  font-display: fallback;
  src: url("//static.skyassets.com/fonts/sky-medium.woff2") format("woff2"),
        url("//static.skyassets.com/fonts/sky-medium.woff") format("woff");
}
