/**
 * The list-inline object displays any list of items spaced on a single line.
 */

.o-list-inline {
  margin-left: 0;
  list-style: none;
}

.o-list-inline__item {
  display: inline-block;
  margin-right: $global-spacing-unit;
}

/* Modifiers
   =========================================== */

.o-list-inline--narrow {
  > .o-list-inline__item {
    margin-right: $global-spacing-unit-small;
  }
}

.o-list-inline--wide {
  > .o-list-inline__item {
    margin-right: $global-spacing-unit-large;
  }
}

.o-list-inline--flush {
  > .o-list-inline__item {
    margin-right: 0;
  }
}
