// =============================================================================
// THEME / BREAKPOINTS
// =============================================================================

$breakpoints: (
  small: 480px,
  medium: 640px,
  large: 800px,
  x-large: 960px
) !default;
