@each $alignment-position in left center right justify {
  .u-text-#{$alignment-position} {
    @include responsivize() {
      text-align: $alignment-position !important;
    }
  }
}

.u-text-bold {
  font-weight: bold !important;
}

.u-text-italic {
  font-style: italic !important;
}

.u-text-constrain {
  max-width: 30em !important;
}
