/* ==========================================================================
COMPONENTS / #CARD
========================================================================== */

// Imports
@import "sky-toolkit-core/tools";

// Settings
$card-border-radius: 4px;
$card-background-color: color(white);
$card-nested-border-color: color(grey-20);
$card-animation-speed: $global-animation-speed-fast;
$card-shadow: 0 2px 10px 0 rgba(color(black), 0.1);
$card-shadow-active-position: 0 6px 15px 0;
$card-active-highlight: color(brand);

/* Base
  ============================================ */

/**
* Card
*
* 1. Prevent introducing a collapsing margin on contents
* 2. Remove default browser rendering when applied to elements such as a button
*/
.c-card {
  display: inline-block; /* [1] */
  position: relative;
  z-index: z-index(1);
  width: 100%; /* [2] */
  height: auto;
  margin-bottom: $global-spacing-unit-4;
  background-color: $card-background-color;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  border: none; /* [2] */
  outline: none;

  @media (min-width: breakpoint(medium)) {
    margin-bottom: $global-spacing-unit-5;
  }
}

/* Interaction
  -------------------------------- */

button.c-card,
a.c-card {
  /**
    * Card Shadow
    * To animate our shadows smoothly, we use pseudo elements.
    * We change the opacity to show the hover effect, utilising GPU
    * animation for a higher FPS.
    *
    * For more info, see: http://tobiasahlin.com/blog/how-to-animate-box-shadow/
    *
    */
  &::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    box-shadow: $card-shadow-active-position rgba(color(black), 0.15);
    transition: opacity $card-animation-speed ease-in-out;
  }

  @include hocus() {
    &::before {
      opacity: 1;
    }
  }
}
