// color()
// ------------------------------------
//
//   .foo {
//     color: color(primary, dark);
//   }
//
// ------------------------------------

@function color($key, $variant: regular) {
  $key-value: map-get($colors, $key);

  @if type-of($key-value) == map {
    @return map-get($key-value, $variant);
  }

  @return map-get($key-value);
}

// @include add-color()
// ------------------------------------
//
//   @include add-color(sky1, #0076be);
//
//   .foo {
//     color: color(sky1);
//   }
//
// ------------------------------------
@mixin add-color($key, $value) {
  $new-color: (
    $key: $value
  );

  @if type-of($value) == color {
    $colors: map-merge($colors, $new-color) !global;
  } @else {
    @warn "#{$value} is not a valid color.";
  }
}
