$gradients: (
  primary: (
    0%: "#02498d",
    100%: "#0072c4",
  ),
  sky: (
    0%: #ff9e00,
    35%: #f00,
    60%: #b5007d,
    85%: #21429c,
    100%: #0071ff,
  ),
  tv: (
    0%: "#000ff5",
    100%: "#00d2ff",
  ),
  mobile: (
    0%: "#FF6400",
    50%: "#FF0A50",
    100%: "#FF00A5",
  ),
  broadband: (
    0%: "#FF00A5",
    100%: "#6E00FF",
  ),
  broadband-essential: (
    0%: "#AAA",
    100%: "#76767c",
  ),
  broadband-superfast: (
    0%: "#ffb400",
    100%: "#ff0400",
  ),
  broadband-ultrafast: (
    0%: "#b91abe",
    100%: "#1400ff",
  ),
  sky-one: (
    0%: "#0080DF",
    100%: "#079EF8",
  ),
  sky-atlantic: (
    0%: "#003A7F",
    100%: "#079EF8",
  ),
  sky-arts: (
    0%: "#FD004C",
    100%: "#FD5366",
  ),
  sky-cinema: (
    0%: "#990033",
    100%: "#CB0033",
  ),
  sky-news: (
    0%: "#041957",
    100%: "#122D74",
  ),
  sky-sports: (
    0%: "#021158",
    100%: "#122476",
  ),
  box: (
    0%: "#5C0F39",
    100%: "#80082C",
  ),
  sky-store: (
    0%: "#003268",
    100%: "#073FA0",
  ),
  sky-kids: (
    0%: "#4C0080",
    100%: "#6626A1",
  ),
  sky-witness: (
    0%: "#000",
    100%: "#262626",
  ),
  challenge: (
    0%: "#ff5200",
    100%: "#ff5200",
  ),
  pick: (
    0%: "#361740",
    100%: "#763175",
  ),
  sky-crime: (
    0%: "#31566b",
    100%: "#05060c",
  ),
  sky-comedy: (
    0%: "#FF8200",
    100%: "#FF8200",
  ),
  sky-documentaries: (
    0%: "#E90000",
    100%: "#E90000",
  ),
  sky-nature: (
    0%: "#347900",
    100%: "#347900",
  ),
) !default;