/* ==========================================================================
   OBJECTS / LAYOUT
   ========================================================================== */

/**
 * Grid-like layout system.
 *
 * The Layout object provides us with a column-style layout system. This file
 * contains the basic structural elements, but classes should be complemented
 * with width Utilities, for example:
 *
 *   <div class="o-layout">
 *     <div class="o-layout__item  u-width-1/2">
 *     </div>
 *     <div class="o-layout__item  u-width-1/2">
 *     </div>
 *   </div>
 *
 * The above will create a two-column structure in which each column will
 * fluidly fill half of the width of the parent. We can have more complex
 * systems:
 *
 *   <div class="o-layout">
 *     <div class="o-layout__item  u-width-1/1  u-width-1/3@medium">
 *     </div>
 *     <div class="o-layout__item  u-width-1/2  u-width-1/3@medium">
 *     </div>
 *     <div class="o-layout__item  u-width-1/2  u-width-1/3@medium">
 *     </div>
 *   </div>
 *
 * The above will create a system in which the first item will be 100% width
 * until we enter our medium breakpoint, when it will become 33.333% width. The
 * second and third items will be 50% of their parent, until they also become
 * 33.333% width at the medium breakpoint.
 *
 * We can also manipulate entire layout systems by adding a series of Modifiers
 * to the `.o-layout` Block. For example:
 *
 *   <div class="o-layout  o-layout--reverse">
 *
 * This will reverse the displayed order of the system so that it runs in the
 * opposite order to our source, effectively flipping the system over.
 *
 *   <div class="o-layout  o-layout--[right|center]">
 *
 * This will cause the system to fill up from either the centre or the right
 * hand side. Default behaviour is to fill up the layout system from the left.
 *
 * There are plenty more options available to us: explore them below.
 */

/* Gutter sizes
   =========================================== */

$layout-gutter-default-xs: $global-spacing-unit-4;
$layout-gutter-default-md: $global-spacing-unit-5;
$layout-gutter-narrow-xs: $global-spacing-unit-3;
$layout-gutter-narrow-md: $global-spacing-unit-4;
$layout-gutter-wide-xs: $global-spacing-unit-5;
$layout-gutter-wide-md: $global-spacing-unit-6;

/* Default/mandatory classes.
   =========================================== */
.o-layout {
  font-size: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  margin-left: -$layout-gutter-default-xs;

  @media (min-width: breakpoint(md)) {
    margin-left: -$layout-gutter-default-md;
  }
}

.o-layout__item {
  display: inline-block;
  font-size: 1rem;
  vertical-align: top;
  width: 100%;
  box-sizing: border-box;
  padding-left: $layout-gutter-default-xs;

  @media (min-width: breakpoint(md)) {
    padding-left: $layout-gutter-default-md;
  }
}

/* Gutter size modifiers.
   =========================================== */

/**
 * Smaller gutters between items.
 */
.o-layout--narrow {
  margin-left: -$layout-gutter-narrow-xs;

  @media (min-width: breakpoint(md)) {
    padding-left: $layout-gutter-narrow-md;
  }

  > .o-layout__item {
    padding-left: $layout-gutter-narrow-xs;

    @media (min-width: breakpoint(md)) {
      padding-left: $layout-gutter-narrow-md;
    }
  }
}

/**
 * Larger gutters between items.
 */
.o-layout--wide {
  margin-left: -$layout-gutter-wide-xs;

  @media (min-width: breakpoint(md)) {
    padding-left: $layout-gutter-wide-md;
  }

  > .o-layout__item {
    padding-left: $layout-gutter-wide-xs;

    @media (min-width: breakpoint(md)) {
      padding-left: $layout-gutter-wide-md;
    }
  }
}

/**
 * No gutters between items.
 */
.o-layout--flush {
  margin-left: 0;

  > .o-layout__item {
    padding-left: 0;
  }
}

/* Vertical alignment modifiers.
   =========================================== */

/**
 * Align all grid items to the middles of each other.
 *
 * Input:
 *
 *   1 2 3 4 5
 *   1 2 - 4 5
 *   1 2 - 4 5
 *   - 2 - - 5
 *   - 2 - - 5
 *
 * Output:
 *
 *   - 2 - - 5
 *   1 2 - 4 5
 *   1 2 3 4 5
 *   1 2 - 4 5
 *   - 2 - - 5
 */
.o-layout--middle {
  > .o-layout__item {
    vertical-align: middle;
  }
}

/**
 * Align all grid items to the bottoms of each other.
 *
 * Input:
 *
 *   1 2 3 4 5
 *   1 2 - 4 5
 *   1 2 - 4 5
 *   - 2 - - 5
 *   - 2 - - 5
 *
 * Output:
 *
 *   - 2 - - 5
 *   - 2 - - 5
 *   1 2 - 4 5
 *   1 2 - 4 5
 *   1 2 3 4 5
 */
.o-layout--bottom {
  > .o-layout__item {
    vertical-align: bottom;
  }
}

/* Fill order modifiers.
   =========================================== */

/**
 * Fill up the layout system from the centre.
 *
 * Input:
 *
 *   1 2 3 - -
 *
 * Output:
 *
 *   - 1 2 3 -
 */
.o-layout--center {
  text-align: center;

  > .o-layout__item {
    text-align: left;
  }
}

/**
 * Fill up the layout system from the right-hand side.
 *
 * Input:
 *
 *   1 2 3 - -
 *
 * Output:
 *
 *   - - 1 2 3
 */
.o-layout--right {
  text-align: right;

  > .o-layout__item {
    text-align: left;
  }
}

/**
 * Reverse the rendered order of the grid system.
 *
 * Input:
 *
 *   1 2 3 4 5
 *
 * Output:
 *
 *   5 4 3 2 1
 */
.o-layout--reverse {
  direction: rtl;

  > .o-layout__item {
    direction: ltr;
    text-align: left;
  }
}

/* Vertical gutter modifiers.
   =========================================== */

/**
 * Include vertical gutters on layout items.
 *
 * Input:
 *
 *   1 2 3 4 5
 *   1 2 3 4 5
 *
 * Output:
 *
 *   1 2 3 4 5
 *
 *   1 2 3 4 5
 */
.o-layout--spaced {
  > .o-layout__item {
    margin-bottom: $layout-gutter-default-xs;

    @media (min-width: breakpoint(md)) {
      margin-bottom: $layout-gutter-default-md;
    }
  }
}

/**
  * If we’ve chosen to change the size of the horizontal gutters, let’s change
  * the vertical gutters accordingly.
  */
.o-layout--spaced.o-layout--flush {
  > .o-layout__item {
    margin-bottom: 0;
  }
}

.o-layout--spaced.o-layout--narrow {
  > .o-layout__item {
    margin-bottom: $layout-gutter-narrow-xs;

    @media (min-width: breakpoint(md)) {
      margin-bottom: $layout-gutter-narrow-md;
    }
  }
}

.o-layout--spaced.o-layout--wide {
  > .o-layout__item {
    margin-bottom: $layout-gutter-wide-xs;

    @media (min-width: breakpoint(md)) {
      margin-bottom: $layout-gutter-wide-md;
    }
  }
}
