@import "../tools.scss";

/* Base
  ============================================ */
.c-btn {
  align-items: center;
  background-color: transparent;
  border-radius: radius(1);
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-flex;
  flex-shrink: 0;
  font-size: 16px;
  padding: spacing(2) spacing(5);
  font-weight: bold;
  justify-content: center;
  line-height: 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: transition(fast);
  transition-property: background, color, box-shadow, border;
  transition-timing-function: linear;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    box-shadow: 0 0 0 7px rgba(color(primary, dark), 0.2);
    outline: none;
  }

  &.is-disabled,
  &:disabled {
    background-color: color(grey-20);
    border-color: transparent;
    color: color(white);
    cursor: not-allowed;
  }
}

/* Appearances
   =========================================== */
.c-btn--primary {
  @include sheen();
  background-color: color(primary);
  color: color(white);

  &:not(:disabled):hover {
    background-color: color(primary, dark);
  }
}

.c-btn--primary-invert {
  @include sheen();
  background-color: color(white);
  color: color(primary);

  &:not(:disabled):hover {
    background-color: color(primary, grey-2);
  }
}

.c-btn--secondary {
  @include sheen();
  border-color: color(primary);
  color: color(primary);

  &:not(:disabled):hover {
    border-color: color(primary, dark);
    color: color(primary, dark);
  }
}

.c-btn--secondary-invert {
  @include sheen();
  border-color: color(white);
  color: color(white);

  &:not(:disabled):hover {
    background-color: color(white);
    color: color(primary);
  }
}

.c-btn--mandatory {
  @include sheen();
  background-color: color(positive);
  color: color(white);

  &:not(:disabled):hover {
    background-color: color(positive, dark);
  }
}

.c-btn--minimal {
  border-radius: radius(2);
  color: color(primary);

  &:not(:disabled):hover {
    text-decoration: underline;
  }

  &:not(:disabled):focus {
    background-color: rgba(color(primary, dark), 0.2);
    box-shadow: none;
  }
}

.c-btn--minimal-invert {
  border-radius: radius(2);
  color: color(white);

  &:not(:disabled):hover {
    text-decoration: underline;
  }
}

/* Sizes
   =========================================== */
.c-btn--tiny {
  font-size: 16px;
  padding: spacing(1) spacing(4);
}

.c-btn--small {
  font-size: 16px;
  padding: spacing(2) spacing(4);
}

.c-btn--large {
  font-size: 20px;
  padding: spacing(3) spacing(6);
}

.c-btn--full {
  width: 100%;
}

// TODO: @small suggests full from small and up.
.c-btn--full\@small {
  @include mq($until: medium) {
    width: 100%;
  }
}

/* Legacy Error state
   =========================================== */
.c-btn.is-error,
.is-error .c-btn {
  &,
  &:hover,
  &:active,
  &:focus {
    background-color: color(negative);
    color: color(white);
    cursor: not-allowed;
  }
}
