@import "../tools.scss";

/* Base
  ============================================ */
.c-card {
  background-color: color(white);
  border: none;
  border-radius: radius(1);
  box-shadow: shadow(3);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: $global-spacing-unit; // Preserve legacy margins
  outline: none;
  position: relative;
  width: 100%;
}
