@import "../tools.scss";

/* Base
  ============================================ */
.c-link {
  background-color: transparent;
  border: 0;
  color: color(primary);
  cursor: pointer;
  display: inline-block;
  font: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;

  @include hocus() {
    color: color(primary, dark);
    text-decoration: underline;
  }
}

/* Appearances
   =========================================== */
.c-link--invert {
  color: color(grey-2);

  @include hocus() {
    color: color(grey-20);
  }
}
