// =============================================================================
// SETTINGS / #COLORS
// =============================================================================

// Our brand and project colours are held in maps. Access these colours using:
//
//   color($KEY)
//
// For example:
//
//   .foo {
//     color: color(brand);
//   }

$colors: (
  brand:     #000ff5,
  highlight: #00a0ff,
  error:     #ff2744,
  success:   #2fa841,
  grey-10:   #e6e6e6,
  grey-20:   #ccc,
  grey-30:   #999,
  grey-40:   #4d4d4d,
  grey-50:   #333,
  text:      #4a4a4a,
  black:     #000,
  white:     #fff,
  offer:     #f15a22
) !default;
