// =============================================================================
// SETTINGS / #GLOBALS
// =============================================================================

// Global Typography Settings
// ==============================================

$global-font-size: 18px !default;
$global-line-height: 26px !default;
$global-font-family: Sky Text, Helvetica, Arial, sans-serif !default;

// Global Spacing Settings
// ==============================================

$global-spacing-unit-1: 4px;
$global-spacing-unit-2: 8px;
$global-spacing-unit-3: 12px;
$global-spacing-unit-4: 16px;
$global-spacing-unit-5: 24px;
$global-spacing-unit-6: 32px;
$global-spacing-unit-7: 48px;
$global-spacing-unit-8: 72px;

// Legacy Global Spacing Settings
// ==============================================

$global-spacing-unit-tiny: $global-spacing-unit-1;
$global-spacing-unit-small: $global-spacing-unit-2;
$global-spacing-unit: $global-spacing-unit-5 !default;
$global-spacing-unit-large: $global-spacing-unit-7;
$global-spacing-unit-x-large: $global-spacing-unit-8;

// Global Container Settings
// ==============================================

$global-container-width: 1248px !default;

// Global Utilities Settings
// ==============================================

$global-widths: 1 2 3 4 5 6 !default;

// Global Border Settings
// ==============================================

$global-border-width: 1px !default;
$global-border-radius: 0.25em !default;

// Global Animation Settings
// ==============================================

$global-animation-speed: 0.5s !default;
$global-animation-speed-fast: 0.5 * $global-animation-speed;
$global-animation-speed-slow: 2 * $global-animation-speed;

// Global Shadow Settings
// ==============================================

$global-shadow-color: #000;
$global-shadow-intensity: 0.2;
$global-shadow-x: 0;
$global-shadow-y: 1px;
$global-shadow-blur: 10px;
$global-shadow-spread: 0;

$global-shadow: unquote(
  $global-shadow-x + " " + $global-shadow-y + " " + $global-shadow-blur + " " +
    $global-shadow-spread + " " +
    rgba($global-shadow-color, $global-shadow-intensity)
);

$global-text-shadow: 0 0 25px rgba($global-shadow-color, 0.25),
  1px 1px 1px rgba($global-shadow-color, 0.5);
