// =============================================================================
// SETTINGS / #GLOBALS
// =============================================================================

// Breakpoints
// ==============================================

$mq-breakpoints: $breakpoints;

// Typography
// ==============================================

$global-font-size: font-size(body) !default;
$global-line-height: line-height(body) !default;
$global-font-family: Sky Text, Helvetica, Arial, sans-serif !default;

// Spacing
// ==============================================

$global-spacing-unit: spacing(4);
$global-spacing-unit-tiny: spacing(1);
$global-spacing-unit-small: spacing(2);
$global-spacing-unit-large: spacing(6);
$global-spacing-unit-x-large: spacing(8);

// Container
// ==============================================

$global-container-width: 1200px !default;

// Utilities
// ==============================================

$global-widths: 1 2 3 4 5 6 !default;

// Border
// ==============================================

$global-border-width: 1px !default;
$global-border-radius: 0.25em !default;

// Animation
// ==============================================

$global-animation-speed: transition(medium);
$global-animation-speed-fast: transition(fast);
$global-animation-speed-slow: transition(slow);

// Shadow
// ==============================================

$global-shadow-color: color(black);
$global-shadow-intensity: 0.2;
$global-shadow-x: 0;
$global-shadow-y: 1px;
$global-shadow-blur: 10px;
$global-shadow-spread: 0;

$global-shadow: unquote(
  $global-shadow-x + " " + $global-shadow-y + " " + $global-shadow-blur + " " +
    $global-shadow-spread + " " +
    rgba($global-shadow-color, $global-shadow-intensity)
);

$global-text-shadow: 0 0 25px rgba($global-shadow-color, 0.25),
  1px 1px 1px rgba($global-shadow-color, 0.5);

$supercell-spacing-unit: $global-spacing-unit !default;
