// =============================================================================
// SETTINGS / #GRADIENTS
// =============================================================================

// Our brand and project gradients are held in maps.
// Grouped to allow specific targeting
$toolkit-ui-gradients: (
  default: (
    0%:   #f2f2f5,
    100%: #fff
  ),
  highlight: (
    0%:   #cdccd4,
    100%: #fff
  ),
  page: (
    0%:   #e4e3e8,
    6%:   #f2f2f5,
    20%:  #fff,
    80%:  #fff,
    94%:  #e5e5ea,
    100%: #e4e3e8
  ),
  page-small: (
    0%:   #f2f2f5,
    50%:  #fff,
    100%: #f2f2f5
  ),
  tile: (
    50%:  #fff,
    100%: #e6e6ea
  ),
  sky-account: (
    0%:   #135fa0,
    100%: #197bc9
  ),
  sky-spectrum: (
    0%:  #ff9e00,
    35%: #ff0000,
    60%: #b5007d,
    85%: #21429c,
    100%: #0071ff
  ),
) !default;

$toolkit-channel-gradients: (
  sky-1: (
    0%:   #0080df,
    100%: #079ef8
  ),
  sky-atlantic: (
    0%:   #003a7f,
    100%: #079ef8
  ),
  sky-arts: (
    0%:   #fd004c,
    100%: #fd5366
  ),
  sky-box-sets: (
    0%:   #5c0f39,
    100%: #80082c
  ),
  sky-cinema: (
    0%:   #903,
    100%: #cb0033
  ),
  sky-kids: (
    0%:   #4c0080,
    100%: #6626a1
  ),
  sky-kids-alternative: (
    0%:   #0b5c26,
    100%: #75b338
  ),
  sky-news: (
    0%:   #041957,
    100%: #122d74
  ),
  sky-sports: (
    0%:   #021158,
    100%: #122476
  ),
  sky-store: (
    0%:   #003268,
    100%: #073fa0
  ),
  sky-witness: (
    0%:   #000,
    100%: #262626
  ),
  pick: (
    0%: #361740,
    100%: #763175
  ),
  challenge: (
    0%: #ff5200,
    100%: #ff5200
  ),
  sky-crime: (
    0%: #31566b,
    100%: #05060c
  ),
  sky-comedy: (
    0%: #ff8200,
    100%: #ff8200
  ),
  sky-documentaries: (
    0%: #e90000,
    100%: #e90000
  ),
  sky-nature: (
    0%: #347900,
    100%: #347900
  )
) !default;

$toolkit-mobile-gradients: (
  sky-mobile: (
    0%: #ff00a5,
    100%: #ff6400
  )
) !default;

$toolkit-broadband-gradients: (
  sky-broadband: (
    0%: #6e00ff,
    100%: #ff00a5
  ),
  broadband-entry: (
    0%: #b600d2,
    100%: #ce00c3
  ),
  broadband-unlimited: (
    0%: #6f00ff,
    100%: #9300e7
  ),
  broadband-ultra: (
    0%: #e600b4,
    100%: #ff00a5
  ),
  broadband-value: (
    0%: #ce00c3,
    100%: #e600b4
  ),
  fibre-max: (
    0%: #b600d2,
    100%: #ce00c3
  ),
  fibre-unlimited: (
    0%: #9300e7,
    100%: #b600d2
  ),
) !default;

$toolkit-tv-gradients: (
  sky-tv: (
    0%: #6e00ff,
    100%: #00ffdc
  ),
  tv-entertainment: (
    0%:   #0062a3,
    100%: #007ac1
  ),
  tv-hd: (
    0%:   #000,
    100%: #535353
  ),
  ultimate-on-demand: (
    0%:   #000514,
    50%:  #133e73,
    100%: #3c7191
  ),
) !default;

$toolkit-deprecated-gradients: (
sky-living: (
    0%:   #68879c,
    100%: #67a0b5
  ),
) !default;

// Merge all the gradient maps together - local use only
@function _merge-groups($maps...) {
  $group: ();

  @each $map in $maps {
    $group: map-merge($group, $map);
  }

  @return $group;
}

// Merge all the graident groups into one "master" $gradients map for global use
// Access these values using tools from `tools/gradients`.
$gradients: _merge-groups($toolkit-ui-gradients, $toolkit-channel-gradients, $toolkit-tv-gradients, $toolkit-broadband-gradients, $toolkit-mobile-gradients, $toolkit-deprecated-gradients) !default;

// Directional settings required for defining both prefixed and standard
// gradients in our `tools/gradients` mixins.
$gradient-directions: (
  vertical: (
    legacy: "top",
    standard: "to bottom",
    type: linear,
    reverse: false
  ),
  vertical-invert: (
    legacy: "bottom",
    standard: "to top",
    type: linear,
    reverse: false
  ),
  horizontal: (
    legacy: "left",
    standard: "to right",
    type: linear,
    reverse: false
  ),
  horizontal-invert: (
    legacy: "right",
    standard: "to left",
    type: linear,
    reverse: false
  ),
  radial: (
    legacy: "center, ellipse cover",
    standard: "ellipse at center",
    type: radial,
    reverse: true
  )
) !default;
