// =============================================================================
// SETTINGS / #TYPOGRAPHY
// =============================================================================

// Our brand and project typographic settings are held in maps.
// Access these using tools from `tools/typography`.

$text: (
  display-1: (
    small: (
      font-size: 36px,
      line-height: 48
    ),
    large: (
      font-size: 48px,
      line-height: 64px
    )
  ),
  display-2: (
    small: (
      font-size: 32px,
      line-height: 44px
    ),
    large: (
      font-size: 40px,
      line-height: 56px
    )
  ),
  display-3: (
    small: (
      font-size: 28px,
      line-height: 40px
    ),
    large: (
      font-size: 32px,
      line-height: 48px
    )
  ),
  display-4: (
    small: (
      font-size: 24px,
      line-height: 32px
    ),
    large: (
      font-size: 24px,
      line-height: 36px
    )
  ),
  display-5: (
    small: (
      font-size: 20px,
      line-height: 24px
    ),
    large: (
      font-size: 20px,
      line-height: 24px
    )
  ),
  body-1: (
    small: (
      font-size: 16px,
      line-height: 24px
    ),
    large: (
      font-size: 16px,
      line-height: 24px
    )
  ),
  body-2: (
    small: (
      font-size: 14px,
      line-height: 20px
    ),
    large: (
      font-size: 14px,
      line-height: 20px
    )
  ),
  legal: (
    small: (
      font-size: 12px,
      line-height: 16px
    ),
    large: (
      font-size: 12px,
      line-height: 16px
    )
  )
) !default;

// Legacy polaris font-sizes
@if $legacy-approach == "full" {
  $legacy-text: (
    heading-alpha: (
      small: (
        font-size: 36px,
        line-height: 1.16
      ),
      large: (
        font-size: 50px,
        line-height: 1.12
      )
    ),
    heading-bravo: (
      small: (
        font-size: 29px,
        line-height: 1.2
      ),
      large: (
        font-size: 40px,
        line-height: 1.15
      )
    ),
    heading-charlie: (
      small: (
        font-size: 25px,
        line-height: 1.24
      ),
      large: (
        font-size: 34px,
        line-height: 1.18
      )
    ),
    heading-delta: (
      small: (
        font-size: 20px,
        line-height: 1.3
      ),
      large: (
        font-size: 28px,
        line-height: 1.21
      )
    ),
    text-lead: (
      small: (
        font-size: 18px,
        line-height: 1.44
      ),
      large: (
        font-size: 22px,
        line-height: 1.36
      )
    ),
    text-body: (
      small: (
        font-size: 16px,
        line-height: 1.5
      ),
      large: (
        font-size: 18px,
        line-height: 1.44
      )
    ),
    text-smallprint: (
      small: (
        font-size: 12px,
        line-height: 1.5
      ),
      large: (
        font-size: 12px,
        line-height: 1.5
      )
    )
  );
}

@if $legacy-approach == "fallback" {
  $legacy-text: (
    heading-alpha: map-get($text, display-1),
    heading-bravo: map-get($text, display-2),
    heading-charlie: map-get($text, display-3),
    heading-delta: map-get($text, display-4),
    text-lead: map-get($text, display-5),
    text-body: map-get($text, body-1),
    text-smallprint: map-get($text, legal)
  );
}

@if $legacy-approach == "fallback" or $legacy-approach == "full" {
  $text: map-merge($text, $legacy-text);
}
