// =============================================================================
// SETTINGS / #TYPOGRAPHY
// =============================================================================

// Our brand and project typographic settings are held in maps.
// Access these using tools from `tools/typography`.

$text: (
  display-1: (
    small: (
      font-size: 36px,
      line-height: 1.33333
    ),
    large: (
      font-size: 48px,
      line-height: 1.33333
    )
  ),
  display-2: (
    small: (
      font-size: 32px,
      line-height: 1.375
    ),
    large: (
      font-size: 40px,
      line-height: 1.4
    )
  ),
  display-3: (
    small: (
      font-size: 28px,
      line-height: 1.42857
    ),
    large: (
      font-size: 32px,
      line-height: 1.5
    )
  ),
  display-4: (
    small: (
      font-size: 24px,
      line-height: 1.33333
    ),
    large: (
      font-size: 24px,
      line-height: 1.5
    )
  ),
  display-5: (
    small: (
      font-size: 20px,
      line-height: 1.2
    ),
    large: (
      font-size: 20px,
      line-height: 1.2
    )
  ),
  body-1: (
    small: (
      font-size: 16px,
      line-height: 1.5
    ),
    large: (
      font-size: 16px,
      line-height: 1.5
    )
  ),
  body-2: (
    small: (
      font-size: 14px,
      line-height: 1.42857
    ),
    large: (
      font-size: 14px,
      line-height: 1.42857
    )
  ),
  legal: (
    small: (
      font-size: 12px,
      line-height: 1.33333
    ),
    large: (
      font-size: 12px,
      line-height: 1.33333
    )
  )
) !default;

$legacy-text: ();
@if $legacy-approach == "full" {
  $legacy-text: (
    heading-alpha: (
      small: (
        font-size: 36px,
        line-height: 1.16
      ),
      large: (
        font-size: 50px,
        line-height: 1.12
      )
    ),
    heading-bravo: (
      small: (
        font-size: 29px,
        line-height: 1.2
      ),
      large: (
        font-size: 40px,
        line-height: 1.15
      )
    ),
    heading-charlie: (
      small: (
        font-size: 25px,
        line-height: 1.24
      ),
      large: (
        font-size: 34px,
        line-height: 1.18
      )
    ),
    heading-delta: (
      small: (
        font-size: 20px,
        line-height: 1.3
      ),
      large: (
        font-size: 28px,
        line-height: 1.21
      )
    ),
    text-lead: (
      small: (
        font-size: 18px,
        line-height: 1.44
      ),
      large: (
        font-size: 22px,
        line-height: 1.36
      )
    ),
    text-body: (
      small: (
        font-size: 16px,
        line-height: 1.5
      ),
      large: (
        font-size: 18px,
        line-height: 1.44
      )
    ),
    text-smallprint: (
      small: (
        font-size: 12px,
        line-height: 1.5
      ),
      large: (
        font-size: 12px,
        line-height: 1.5
      )
    )
  );
}

@if $legacy-approach == "fallback" {
  $legacy-text: (
    heading-alpha: map-get($text, display-1),
    heading-bravo: map-get($text, display-2),
    heading-charlie: map-get($text, display-3),
    heading-delta: map-get($text, display-4),
    text-lead: map-get($text, display-5),
    text-body: map-get($text, body-1),
    text-smallprint: map-get($text, legal)
  );
}

$text: map-merge($text, $legacy-text);
